<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <PageTitle>Página não encontrada</PageTitle>
            <div class="alert alert-warning" role="alert">
                <h3>Oops! Página não encontrada.</h3>
                <p>Verifique o endereço ou volte para a <a href="/">página inicial</a>.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
